.header {
  max-width: var(--container-max-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px var(--container-padding);
  background-color: var(--color-white);
  border-bottom: var(--border-width) solid var(--border-color);
}

.logo {
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: #282828;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  transition: color 0.3s ease;
}
.nav a:hover,
.nav a.active {
  color: rgba(13, 80, 255, 1);
}

.cartIconWrapper {
  position: relative;
  cursor: pointer;
}

.cartIcon {
  height: 48px;
  width: 48px;
}

.cartCount {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #2f5fff;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 7px;
  min-width: 20px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  user-select: none;
}
@media (max-width: 425px) {
  .header {
    padding: 10px;
  }
  .logo {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
  .cartIcon {
    height: 28px;
    width: 28px;
  }
  .nav a {
    font-size: 12px;
  }
  .nav {
    gap: 10px;
  }
}
@media (max-width: 720px) {
  .nav {
    display: flex;
    gap: 16px;
  }
  .nav a {
    font-size: 14px;
  }
}
